node_modules

/server/index.js
/server/index.js.map
/public/build
preferences.arc
sam.json
sam.yaml
.env

/cypress/screenshots
/cypress/videos

/app/styles/*.css
/app/styles/*.css.map

/.idea
/cogs-remix.iml
/server/metafile.js.json
/server/metafile.server.json
